/* 
================
General
================
*/
:root
{
    scroll-behavior: smooth;
    --colorNavAccent:#546e7a;
}
body
{
 background-color: #fff;
 font-family: 'poppins',sans-serif;    
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
}
h1, h2, h3, h4 ,h5 ,h6 
{
    font-family: 'Montserrat',sans-serif;
}
/* 
================
Navbar
================
*/
.navbar-brand
{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
}
.bg-custom
{
    background:var(--colorNavAccent) !important;
}
.navbar-dark .navbar-toggler
{
    border-color:none;
}
/* 
=============
Hero Section
=============
*/
.hero-section
{
    background-color:#546e7a;
    height:60vh;
    color:#fff;
}
.text-h1
{
    padding-top:60px;
}
/* 
================
Services Section
================
*/
.services-section
{
    background-color: #455a64;
    height: 60vh;
    
}
/* 
===============
Card Styles
===============
*/
.h-100
{
    height: 100% !important;
}
.svg-l
{
    display: block;
}
/* 
=================
Responsive
=================
*/
@media only screen and (max-width: 600px) {
    .text-h1 {
        padding-top:160px;
    }
  .services-section{
    height:90vh
  }
}
